@import url('https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@500&family=Roboto:wght@300&display=swap');
* {
    margin:0;
    padding:0;
    font-family: 'Roboto', sans-serif;
}

html, body {
    height: 100%;   
}

nav {

}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    opacity: 0.8;
}

/* TEXT-PRESETS */
.title {
    font-family: 'Grenze Gotisch', cursive;
}

.small {
    font-size: 1rem;
}

.medium {
    font-size: 1.5rem;
}

.large {
    font-size: 2rem;
}

.verylarge {
    font-size: 3rem;
}



/* COLOUR PALETTE */

/*
--viridian-green: #0fa3b1ff;
--honeydew: #d9e5d6ff;
--medium-champagne: #eddea4ff;
--light-salmon: #f7a072ff;
--deep-saffron: #ff9b42ff;
*/



/* BUTTONS */
.button-success,
        .button-error,
        .button-warning,
        .button-secondary {
            color: white;
            border-radius: 4px;
            text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
        }

        .button-success {
            background: rgb(28, 184, 65);
            /* this is a green */
        }

        .button-error {
            background: rgb(202, 60, 60);
            /* this is a maroon */
        }

        .button-warning {
            background: rgb(223, 117, 20);
            /* this is an orange */
        }

        .button-secondary {
            background: rgb(66, 184, 221);
            /* this is a light blue */
        }