body {
    height: 100%;
    background-color: #0fa3b1ff;
}

nav {
    width: 100%;
    height: 8vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav h1 {
    color:white;
}

.wrapper {
    height: 100vh;
}

.item {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    background-color: #0fa3b1ff;
    transition-duration: 1s;
}


.item:hover {
    background-color: rgb(9, 129, 139);
    transition-duration: 1s;
}