body {
    background-color: #0fa3b1ff;
}

nav {
    width: 100%;
    height: 8vh;
}

nav h1 {
    padding: 0 10px;
    height: 8vh;
    color: white;
}

.wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

h3 {
    width: 100%;
    text-align: center;
    font-size: 2rem;
    color: white;
    margin-bottom: 1vh;
}

input {
    text-align: center;
}

table {
    background-color: #ff9b42ff;
    width: 100%;
}

thead tr th{
    text-align: center;
}