form {
    text-align: center;
}
input {
    text-align: center;
    margin: 2vh auto;
}

.success-btn {
    border-radius: 20px !important;
}

table {
    background-color: #444444;
    width: 80%;
    margin: 5vh auto;
    color: white;
    font-size: 1rem;
}

thead tr th{
    text-align: center;
}

thead {
    background-color: #343434;
}

tbody tr th {
    font-weight: 100 !important;    
}

.image-container {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container div {

}

.msg {
    color: black;
}