table {
    background-color: #444444;
    width: 80%;
    margin: 5vh auto;
    color: white;
    font-size: 1rem;
}

thead tr th{
    text-align: center;
    
}

thead {
    background-color: #343434;
}

tbody tr th {
    font-weight: 100 !important;    
}