table {
    background-color: #444444;
    width: 80%;
    margin: 5vh auto;
    color: white;
    font-size: clamp(0.8rem, 1.3vw, 1rem)

}

thead tr th{
    text-align: center;
    
}

thead {
    background-color: #343434;
}

tbody tr th {
    font-weight: 100 !important;    
}


/* MEDIAQUERIES */
@media screen and (max-width: 992px) {
    table {
        width: 100%;
    }    
}