body {
    background-color: #0fa3b1ff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    color: white;
}

.wrapper {
    width: 70%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
}

h3 {
    width: 100%;
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1vh;
}

nav {
    width: 100%;
    height: 8vh;
}

nav h1 {
    padding: 0 10px;
    height: 8vh;
}



table {
    background-color: #ff9b42ff;
    width: 100%;
}

thead tr th{
    text-align: center;
}