nav {
    width: 100%;
    height: 10vh;
    background-color: #4F99BE;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile-corner {
    width: 20vw !important;
    height: 100% !important;
    background-color: #444444;
    display: flex !important;
    justify-content: center !important;
    align-items: flex-start !important;
    flex-wrap: wrap !important;
    flex-direction: column !important;
}

.username {
    text-align: center;
    color: white;
    width: 100%;
    font-weight: 100;
    font-size: clamp(0.5rem, 3vw, 2rem)
}

.wallet {
    text-align: center;
    color: white;
    width: 100%;
    font-weight: 100;
    font-size: clamp(0.5rem, 2.5vw, 1.5rem)
}

.list-container {
    float: right;
}

ul {
    list-style: none;
}

ul li {
    display: inline;
    margin: 0 3vw;
    text-align: center;
    color: white;
    width: 100%;
    font-weight: 100;
    font-size: clamp(0.5rem, 2.5vw, 1.5rem)
}