{% extends 'layout.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='/css/lookup.css') }}">
<title>WSC - Stock Lookup</title>
{% endblock %}


{% block body %}
<nav>
    <h1><a href="/home">BACK</a></h1>
</nav>
<section class="wrapper">
    <form class="pure-form" action="#" method="POST" >
        <input type="text" name="abbr" id="" class="pure-input-rounded" maxlength="5" style="text-transform:uppercase" autocomplete="off" required>
        <input type="submit" value="Search" name="" id="" class="pure-button">
        <br><br>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class=flashes>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        
        {% if stock %}
        <table class="pure-table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Day Low</th>
                    <th>Day High</th>
                    <th>Ask Price</th>
                    <th>Ask Size</th>
                    <th>Bid Price</th>
                    <th>Bid Size</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>{{ stock.shortName }}</th>
                    <th>{{ stock.dayLow }}</th>
                    <th>{{ stock.dayHigh }}</th>
                    <th>{{ stock.currentPrice }}</th>
                    <th>{{ stock.currentAskSize }}</th>
                    <th>{{ stock.currentBid }}</th>
                    <th>{{ stock.currentBidSize }}</th>
                </tr>
            </tbody>
        </table>
        <img src="{{ url_for('static', filename='/img/' + stock.symbol + '.png') }}" alt="" width="100%">
        <button class="pure-button button-success">BUY</button>
        {% endif %}

    </form>
</section>
{% endblock %}