{% extends 'layout.html' %}

{% block head %}
<title>Wallstreet Capitalist</title>
<link rel="stylesheet" href=" {{ url_for('static', filename='/css/index.css') }} ">
{% endblock %}



{% block body %}
<div class="wrapper">
    <div>
        <h1 class="title verylarge">Wallstreet Capitalist</h1>
        <form action="#" method="POST" class="pure-form pure-form-stacked" autocomplete="off">
            <input id="stacked-email" type="text" name="username" placeholder="Username" required>
            <input id="stacked-password" type="password" name="password" placeholder="Password" required>
            <input id="stacked-email" type="email" name="email" placeholder="Email" required>
            <input type="submit" value="Register" class="pure-button pure-button-primary">
            <br><br>
            <p><a href="/">Already got a user?</a></p>
            <br><br>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class=flashes>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
            {% endwith %}
        </form>
    </div>
</div>
<section id="right-ge"></section>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{{ url_for('static', filename='/js/index.js') }}"></script>
{% endblock %}