{% extends 'layout.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='/css/summary.css') }}">
{% endblock %}

{% block body %}
<nav>
    <h1><a href="/home">BACK</a></h1>
</nav>
<section class="wrapper">
    <h3>Wallet: ${{ user.wallet }}</h3>
    <table class="pure-table pure-table-horizontal">
        <thead>
            <tr>
                <th>Name</th>
                <th>Buy Date</th>
                <th>Buy Price</th>
                <th>Amount</th>
                <th>Sell Price</th>
                <th>Profit</th>
                <th>Options</th>
            </tr>
        </thead>

        <tbody>
            {% for stock in stocks %}
            <tr>
                <th>{{ stock.name }}</th>
                {% set time = datetime.fromtimestamp(stock.buyTime|int) %}
                <th>{{ time }}</th>
                <th>$ {{ stock.buyPrice }}</th>
                <th>{{ stock.amount }}</th>
                {% set unnecessaryCompelxWayOfDoingThis = Stock(stock.abbr) %}
                <th>{{ unnecessaryCompelxWayOfDoingThis.currentPrice }}</th>
                <th>$ {{'%0.2f' | format(unnecessaryCompelxWayOfDoingThis.currentPrice * stock.amount - stock.buyPrice|float * stock.amount) }}</th>
                <th><button class="pure-button button-success">SELL</button></th>
            </tr>
            {% endfor %}

           
        </tbody>
    </table>
</section>
{% endblock %}